<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="userTpm" type="com.four.common.tpm.UserTpm"/>
        <typeAlias alias="syncRecordTpm" type="com.four.common.tpm.SyncRecordTpm"/>
        <typeAlias alias="keyValueTpm" type="com.four.common.tpm.KeyValueTpm"/>
    </typeAliases>
</configuration>